
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar */
body,html{
    width:100%;
    height: 100%;
}
.bizbud-nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    /* z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); */
}
.Biz{
    font-weight: 700;
    font-size: 1.4rem;
}
.home{
    color: rgb(180, 26, 188) !important;
}

.home, .service , .about , .testimonals , .client , .contact{
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    transition: 0.3s;
}



.home:hover, .service:hover ,
 .about:hover , .testimonals:hover ,
 .client:hover , .contact:hover
 {
    font-weight: 600;
    color: rgb(180, 26, 188) !important;
    
}
.nvb1{
    margin-left: 20rem;
    font-family: sans-serif;
    
}

/*  */

/* baner */
.banner{
    background-image: url("flower-729514_1280.jpg");
    height: 130vh;
    background-size: cover;
    /* background-position: fixed;  */
    background-attachment: fixed;

}
.banner-section{
    display: flex;
    
}
.banner-1-heading{
    margin-top: 10rem;
    height: 20vh;/*7rem*/
    width:90vh ;/*35rem*/
    color:rgb(254,254,255) ;   /* rgb(4, 7, 63); */
 font-size: 5rem;
 font-family: "Madimi One", sans-serif;
 word-spacing:1rem;
 
}

.banner-1-para{
    margin-top: 10rem;
    height: 20vh;
    width: 90vh;
    font-size: 2rem;
    color:rgb(254,254,255) ;/*rgb(4, 7, 63);*/
    font-family: sans-serif;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3rem;
    background: #261975;
    color: #fff;
    padding: .9rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    font-family: sans-serif;
}
.btn:hover{
    color: #fff;
    background: rgb(64, 18, 94);
}
/*  */
/* service */
.service-1{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.service-para{
    text-align: center;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(130, 7, 149);
    font-family: sans-serif;
    margin-bottom: 1rem;

}

.service-heading{
    /* background-color: rgb(158, 64, 145); */
    text-align: center;
    height: /*3rem*/ 18vh ;
    width: /*35rem*/90vh;
    margin-left: 25rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(11, 14, 82);
    font-family: "Madimi One", sans-serif;
    margin-bottom: 4rem;
}
.Business-Plans-icon , .Accounting-Services-icon , .Finance-Optimization-icon{
    font-size: 7rem;
    color:rgb(158,63,253);
}
.Business-Plans , .Accounting-Services , .Finance-Optimization{
    text-align: center;
    margin-right: 5rem;
    border: none;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); */
}

/*  */

/* numbers */
.numbers{
    height: 25rem;
    background-color: rgb(8, 8, 57);
    color: #fff;
}

.num-heading{
    height: 8rem;
    padding-top: 5rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.85rem;
}

.num-box{
    padding-top: 3rem;
    display: flex;
    
}
.num-box-1,
.num-box-2,
.num-box-3,
.num-box-4{
    /* margin-right: 3rem; */
}
.num-box-no ,
.num-box-no1,
.num-box-no2,
.num-box-no3{
    font-size: 4rem;
    font-weight: bold;
    
}
.num-box-para, .num-box-para1,
.num-box-para2, .num-box-para3{
    /* text-align: center; */
    font-weight: 600;
}

.num-box-1{
    margin-left: 4.2rem;
    list-style: none;
}
/*  */
/* about */
.about{
    display: flex;
}
.about-1{
    width: 50%;
}
.about-1-2{
    margin-left: 5rem;
    

}
.about-short{
    margin-top: 7vh;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.about-heading{
    height: 7rem;
    width: 25rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 900;
}
.about-p{
    height: 21vh;
    width: 25rem;
    color: rgb(27, 26, 26);
    word-spacing: .5rem;
    font-weight: 600;
    text-align: start;
    
}
.about-p-1{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.picture{
    background-image: url("trees-2958305_1280.jpg");
    height: 130vh;
    width: 50%;
    margin-left: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: fixed;  */
    background-attachment: fixed;
 
}

/*  */
/* testimonial */
.testimonial{
    height: 30rem;
    background-color: rgb(158,63,253);
    color: #ddcfcf;
}
.testimonial-short{
 text-align: center;
 text-transform: uppercase;
 font-weight: 700;
 padding-top: 1.3rem;
 font-size: 1.2rem;
 letter-spacing: .3rem;
}
.testimonial-heading{
    height: 3rem;
    width: 40rem;
    padding-top: 2rem;
    margin-left: 20rem;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    
}
.testimonial-slide{
    /* margin-top: 8rem; */
    text-align: center;
}
.first-label,
.second-label,
.third-label{
    margin-top: 10rem;
    font-weight: 700;
}
.crs-sld{
    /* margin-top: 10rem; */
}
.carousel-indicators li{

    width:.5rem;
    height: .5rem;
    border-radius: 100%;
    margin-right: .5rem;
    
}
.carousel-inner{
    /* margin-bottom: 10rem; */
}
.carousel-item p{
    margin-top: 2rem;
}


/*  */
/* client */
.client-section{
    height: 16rem;
    background-color: rgba(202, 221, 226, 0.1);

}
.client-heading{
    text-align: center;
    padding: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    word-spacing: .2rem;
}
.client-box{
    display: flex;
}
.client-box-1 ,
.client-box-2,
.client-box-3,
.client-box-4,
.client-box-5{
    margin-right: 3rem;
    color: rgb(22,22,63);
}
.client-box-1{
    margin-left: 4.6rem;
}

/*  */
/* contact */
.contact-sec{
    display: flex;
    padding-top: 5rem;
    
}
.cont-info-form{
    background-color: rgba(202, 221, 226, 0.1);
}
/* .info-short{
    margin-left:-14rem ;
} */
.info{
    width: 50%;
    /* padding-left: -10rem; */
    margin-right: 8rem;
}
.info-para{
    width:24rem;
    font-weight: 500;
}
.new-form{
    width: 50%;
}
.new-form{
    
    padding-top: 4.4rem;
    margin-right: 5rem;
}
.info-short{
    font-weight: 600;
    letter-spacing: .2rem;
    color:rgb(130, 7, 149) ;
    margin-bottom: 1.4rem;
}
.info-heading{
    font-size: 1.9rem;
    width: 18rem;
    font-weight: bold;
    padding-bottom: 2.5rem;
    color:rgb(11, 14, 82);
}
.info-icon{
    padding-top: 3rem;
}
.info-icon-1, .info-icon-2 , .info-icon-3{
    margin-right: 1.5rem;
}
.form-r{
    display: flex;
}
.form-r-1{
    
    padding-right: 3rem;
}

.first-name , .last-name , .email-1 , .textarea{
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
}
.email-1 , .textarea{
    width: 25rem;
}
/* 
 #firstName:hover, #lastName:hover{ 
    border: none;
}  */
/* .last-name:hover, .first-name:hover{
    border: 0 !important;
} */
/* input:hover{
    border:none;
} */

/*  */
/*map  */
.map-sec{
    margin-top: 9rem;
}
/*  */
/* footer */
footer{
    height: 3rem;
    text-align: center;
}
.footer-cont{
    margin-top: 1.4rem;
}
/*  */

/*  media query*/


 @media  screen and (max-width:1385px) {
    .service-heading{
        height:  auto ;
        width: auto;
        margin-left: 2vh;
        font-size: 1.5rem;
        margin-bottom: 1.5vh
    }
 }

 @media  screen and (max-width:1200px) {
    .service-1{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .service-para{
        margin-bottom: 2vh;
    }
    
    .service-heading{
        height:  auto ;
        width: auto;
        margin-left: 2vh;
        font-size: 1.3rem;
        margin-bottom: 1.5vh
    }
    .Business-Plans-icon , .Accounting-Services-icon , .Finance-Optimization-icon{
        font-size: 4.8rem;
    }
    .Business-Plans , .Accounting-Services , .Finance-Optimization{
        margin-right: 2vh;
    }  

    /* testimonial */
.testimonial{
    height: auto;
}
.testimonial-short{
 padding-top: 3vh;
 font-size: 1rem;
 letter-spacing: .2rem;
}
.testimonial-heading{
    height: 15vh;
    width: auto;
    padding-top: 4vh;
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: 2.3rem;   
}
.first-label,
.second-label,
.third-label{
    margin-top: 10vh;
    font-weight: 600;
}
}
@media screen and (max-width:1020px){
    body,html{
        overflow-x: hidden;
    }


    .service-1{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .service-para{
        margin-bottom: 2vh;
    }
    
    .service-heading{
        height:  auto ;
        width: auto;
        margin-left: 2vh;
        font-size: 1.1rem;
        margin-bottom: 1.5vh
    }
    .about{
        height: auto;
        width: 100%;
    }
    .about-1{
        height: auto;
        
    }
    .about-1-2{
        margin-left: 2vh;
    }
    .picture{
        height: auto;
        width: 90%;
        background-size: cover;
    }
    .about-p{
        height: auto;
        width: auto;
        word-spacing: .4rem;
        font-weight: 500;
        
    }
    .about-heading{
        height: auto;
        width: auto;
        margin-top: 1vh;
        font-size: 1.5rem;
    }
    .cont-info-form{
        height: auto;
        width: auto;
    }
    

/* contact */
.contact-sec{
    padding-top: 4vh; 
}

.info{
    width: 50%;
    margin-right: 5vh;
}
.form-r{
 display: block;
}
.first-name , .last-name ,.email-1 , .textarea{
    width: 26vh;
    padding: 7px 0;
} 

.info-heading{
    font-size: 1.3rem;
    width: 18rem;
    padding-bottom: 6vh;
}
.client-section{
    height: auto;
    width: 100%;
}
.client-box{
    height: auto;
    width: auto;
    
}
.client-box-1 ,
.client-box-2,
.client-box-3,
.client-box-4,
.client-box-5{
    margin-right: 3vh;
    font-size: 1rem;
   
}
footer{
    height: auto;
    width: 100%;
}
}


@media screen and (max-width:810px){
    body,html{
        overflow-x: hidden;
    }
    .banner{
        /* background-image: url("flower-729514_1280.jpg") repeat-x; */
         background-image: url("lotus-1205631_1280.jpg") ; /* no-repeat center center fixed ; */
        height: auto;
        width: auto;
        float: none;
        background-size: cover;
        background-attachment: fixed;
    }
    .banner-1-heading{
    margin-top: 13vh;
    margin-left: 3vh;
    margin-right: 3vh;
    height: auto;
    width:auto;
     font-size: 3rem;
     word-spacing:.7rem;
     
    } 
    .banner-section{
        display: inline-flex;
        
    }
    .banner-1-para{
        margin-left: 3vh;
    margin-right: 3vh;
        margin-top: 5vh;
        height: auto;
        width: auto;
        font-size: 1.5rem;
    }
    
    .btn{
        margin-left: 3vh;
    margin-right: 3vh;
        display: inline-block;
        margin-top: 3vh;
        border-radius: 3rem;  
        padding: .7rem 1.5rem;
        font-size: 1rem;
        background: rgb(162, 58, 96);
        color: #fff;
        margin-bottom: 3vh;
    } 

    .Business-Plans-icon , .Accounting-Services-icon , .Finance-Optimization-icon{
        font-size: 4rem;
    }
    .Business-Plans , .Accounting-Services , .Finance-Optimization{
        margin-right: 2vh;
    }

    .numbers{
        height: auto;
        width: 100%;
    }
    
    .num-heading{
        height: auto;
        padding-top:2vh;
        font-size: 1.3rem;
    }
   
    .num-box{
        padding-top: 1.7vh;
        padding-bottom: 1.9vh;
        margin-left: 2vh;
        margin-right: 2vh;
        /* display: block; */
        
    } 
    .num-box-1,
.num-box-2,
.num-box-3,
.num-box-4{
    height: auto;
    width: auto;
    box-shadow: 0 .5rem 1rem rgba(218, 212, 212, 0.1);
    list-style-position: inside;
}
    .num-box-no ,
    .num-box-no1,
    .num-box-no2,
    .num-box-no3{
        font-size: 2rem;   
    }
    .num-box-1{
        margin-left: 2vh;
    }
    .about{
        height: auto;
        width: 100%;
    }
    .about-1{
        height: auto;
    }
    .picture{
        height: auto;
        width: 90%;
        background-size: cover;
    }
    .about-p{
        height: auto;
        width: auto;
        word-spacing: .4rem;
        font-weight: 500;
        
    }
    .about-heading{
        height: auto;
        width: auto;
        margin-top: 1vh;
        font-size: 1.5rem;
    }
    .client-section{
        height: auto;
        width: 100%;
        
    }
    .client-box{
        height: auto;
        width: auto;
        display: block;
        
    }
    .client-box-1{
        margin-left: 0;
    }
    .client-box-1 ,
    .client-box-2,
    .client-box-3,
    .client-box-4,
    .client-box-5{
        margin-right: 0;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 3vh;
       
    }

    .contact-sec{
        display: block;
        padding-top: 8vh; 
        height:auto ;
        width: auto;
    }
    .info{
        height: auto;
        width: 100%;
        margin-right: 0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        padding-bottom: 3vh;
    }
    .info-para{
        width:50vh;
    }
    .new-form{
        height: auto;
        width: 100%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    }

    .first-name , .last-name,.email-1 , .textarea{
        width: 35vh;
        padding: 10px 0;
    } 
    footer{
        height: auto;
        width: 100%;
        }
}
@media screen and (max-width:637px){
    /* .about{
        display: block;
        height: 200vh;
    }
    .picture{
        height: auto;
        width: 100%;
        background-attachment: scroll;
    } */
}

@media screen and (max-width:510px){

    .numbers{
        height: auto;
        width: 100%;
    }
    
    .num-heading{
        height: auto;
        padding-top:2vh;
        font-size: 1.3rem;
    }
   
    .num-box{
        padding-top: 1.7vh;
        padding-bottom: 1.9vh;
        /* display: block; */
        
    } 
    .num-box-no ,
    .num-box-no1,
    .num-box-no2,
    .num-box-no3{
        font-size: 1.3rem;   
    }
    .num-box-1{
        margin-left: 1vh;
    }
    .num-box-para, .num-box-para1,
.num-box-para2, .num-box-para3{
    font-weight: 500;
}

.num-box-1{
    margin-left: 0;
}
.num-box-1,
.num-box-2,
.num-box-3,
.num-box-4{
    height: auto;
    width: auto;
    box-shadow: 0 .5rem 1rem rgba(218, 212, 212, 0.1);
}

.about{
    display: block;
    /* direction: rtl; */  /*inline block for reverse */
    margin: 0 auto 5px;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        margin-bottom: 5vh;
}
 .about-1{
    width: 100%;
    margin: 0 auto 5px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.about-p{
    height: auto;
    margin-right: 3vh;
}

.picture{
   
    height: 80vh;
    width:100%;
    margin-left: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: scroll;
    margin: 0 auto 5px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
 
}

.first-label,
.second-label,
.third-label{
    margin-top: 22vh;
    font-weight: 500;
}

}


@media screen and (max-width:415px){
    .num-box{
        display: block;
        margin-left: 1vh; 
    }
.num-box-1,
.num-box-2,
.num-box-3,
.num-box-4{
    height: auto;
    width: auto;
    padding-bottom: 1vh;
    box-shadow: 0 .5rem 1rem rgba(218, 212, 212, 0.1);
}
.info-para{
    width:35vh;
}
}

@media screen and (max-width:415px){
    .first-label,
    .second-label,
    .third-label{
        margin-top: 30vh;
        font-weight: 500;
    }   
}
@media screen and (max-width:263px){
    .info-heading{
        font-size: 1rem;
        width: 10vh;
        padding-bottom: 3vh;    
}
.info-para{
    width:20vh;
}
}